
*.ide-wal
TheRichLifeProject/.vs/TheRichLifeProject/v15/Server/sqlite3/storage.ide-shm
TheRichLifeProject/.vs/TheRichLifeProject/v15/Server/sqlite3/storage.ide-wal
TheRichLifeProject/TheRichLifeProject/obj/Debug/netcoreapp2.0/TheRichLifeProject.assets.cache
*.ide-shm
*.ide-wal
*.cache
*.ide
/TheRichLifeProject/TheRichLifeProject/Migrations/20181112111849_subCatagory.Designer.cs
/TheRichLifeProject/TheRichLifeProject/Migrations/20181112111849_subCatagory.cs
/TheRichLifeProject/TheRichLifeProject/TheRichLifeProject.csproj.user
/TheRichLifeProject/.vs/VSWorkspaceState.json
/TheRichLifeProject/.vs/tasks.vs.json
/TheRichLifeProject/.vs/slnx.sqlite
