
@{
	ViewData["Title"] = "Registration";
}

<h2>Registration</h2>
<br/>

	Please fill in all the required info to create an account
<br/>
<br/>

<form asp-controller="Login" asp-action="Register" method="post">
    <table>
        <tr>
            <td style="padding: 10px;">
                <label for="username">Username</label>
            </td>
            <td>
                <input id="username" name="username" type="text" required/>
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;">
                <label for="password">Password</label>
            </td>
            <td>
                <input id="password" name="password" type="password" required/>
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;">
                <label for="name">Name</label>
            </td>
            <td>
                <input id="name" name="Name" type="text" required/>
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;">
                <label for="surname">Surname</label>
            </td>
            <td>
                <input id="surname" name="Surname" type="text" required/>
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;">
                <label for="address">Address</label>
            </td>
            <td>
                <input id="address" name="Address" type="text" required/>
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;">
                <label for="email">Email</label>
            </td>
            <td>
                <input id="email" name="Email" type="email" required/>
            </td>
                
        </tr>

        <tr>
            <td style="padding: 10px;">
                <label for="phonenumber">Phone Number</label>
            </td>
            <td>
                <input id="phonenumber" name="PhoneNumber" type="tel" pattern="^[^a-z]*$" size="20" minlength="10" maxlength="10" required/>
            </td>
        </tr>       
        <tr>
            <td style="padding: 10px;">
                <label for="birth">Birth</label>
            </td>
            <td>
                <input id="birth" name="Birth" type="date" required />
            </td>
        </tr>
    </table>
	<br/>
	<button  type="submit">Create account</button>
	<h4 style="color: red;">@ViewBag.emptyfield</h4>
</form>